<div class="jumbotron" id="header">
  <h1>CFPB Complaint vs IEX Stock Price</h1>
  <p>Compare a company's Consumer Financial Protection Bureau complaints vs current stock prices, according to IEX.</p>
</div>

<div class="row">
  <div class="col-md-6" id="cfpb_form">
    <%= render 'cfpb_lookup_form' %>
  </div>

  <div class="col-md-6" id='exact_form'></div>
</div>

<div id="results"></div>
